/application/config/database.php
/application/config/system.config
/application/third_part/script/license.dat
uploads/files/delivery/92/345_PushpakbhavsarCV.pdf
uploads/files/projects/69/279_345_PushpakbhavsarCV.pdf
uploads/files/projects/69/743_1.jpg
